/.bundle
/.librarian
/.projects
/.snapshot
/.tmp
/bin
/config/local.rb
/log
/tmp
/shared/*
!/shared/README.md
/vendor/gems/
/vendor/puppet/cache/boxen-puppet-java-1.7.0.tar.gz
/vendor/puppet/cache/boxen-puppet-atom-1.0.0.tar.gz
/vendor/puppet/cache/boxen-puppet-iterm2-1.2.2.tar.gz
vendor/puppet/cache/boxen-puppet-intellij-1.5.1.tar.gz
